@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.inner-hero {
  background-image: linear-gradient(to right, $dark-blue, $light-blue);
  padding: 80px 0px 80px 0px;
  text-align: center;
  margin-top: 0px;
  @include bp-tablet-sm {
    margin-top: 50px;
    padding: 60px 0px 60px 0px;
  }
  h1 {
    color: $white;
  }
  hr {
    border-top: 1px solid $white;
    width: 25px;
    margin: 0 auto;
    @include bp-tablet-sm {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}
