.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(24,176,234, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 0px !important;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

.dropdown-item {
  line-height: 2;
}

img {
  width: 100%;
}
